body,.h3,.one,.two {
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1 {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 5%;
}

.h3 {
    color: black;
    font-size: larger;
    margin-left: 5%;
    text-decoration: underline;
    margin-bottom: -5px;
    display: inline;
}

p {
    margin-left: 5%;
}

.one, .two {
    color: black;
    font-size: medium;
}

.one {
    margin-bottom: 5%;
}

#four {
    font-size: medium;
    font-weight: bold;
    margin-left: 5%;
    color: blue;
}

#image {
    margin: auto;
    width: auto;
    height: auto;
    display: block;
}

.unordered-list .text  {
    text-decoration: underline;
}

/* list {
    color: blue;
    text-decoration: underline;
} */

.unordered-list #specific {
    color: blue;
}

.unordered-list {
    font-size-adjust: inherit;
}

.link-decoration {
    color: red;
    margin-left: 5%;
}